.container {
  display: flex;
  background-color: #43ee61;
  height: calc(100vh - 0px);

}

.leftPane {
  flex: 1;
  height: 100%;
  opacity: 0;
  padding: 0;
  margin: 0;
  border-right: 1px solid #43ee61;

}

@media(max-width: 767px) {
  .leftPane {
    border-right: none;
  }
  .container {
    flex-direction: column;
    height: auto;
  }
}

.rightPane {
  flex: 1;
  height: 100%;
  opacity: 0;
  padding: 0;
  margin: 0;
  background-color: #031c07;
  
}
