.container > div > div {
  display: flex;
  align-items: center;
  justify-content: center;
  /* overflow: visible; */
  flex-wrap: nowrap;

}
.textOverlay {
  justify-content: start !important;
  align-items: flex-end !important;
}

.text {
  color: rgb(70, 234, 37);
  font-weight: 700;
  font-size: 1.3rem;
  margin: 15rem 3rem;
  transform: 3;
  opacity: 1;
  transition: all 0.2s;
  line-height: 0px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  
} 

.text a{

  margin: 1rem 0.5rem;
  color: rgb(20, 43, 23);
}
/* .number span {
  display: inline-block;
  position: relative;
 
}

.slopeBegin {
  background-color: #1dc41a;
  clip-path: polygon(20% 0, 70% 0, 50% 100%, 0% 100%); 
}
.slopeEnd {
  clip-path: polygon(70% 0, 100% 0, 80% 100%, 50% 100%);
}
.slopeBegin,
.slopeEnd {
  padding:3px;
  height: 100%
} */
