.container{
  height:100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  
}

.page {
  height: 100vh;
  scroll-snap-align: start;

}

.parallaxLayer {
  height: 150vh;
  width: 50vw;
  max-width: 800px;
  margin: 0 auto;
  background-position: center;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textOverlay {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
}

.text {
  font-size: 2rem;
  font-weight: bold;
}


@media screen and (min-width: 961px) {
  .parallaxLayer {
    width:50vw;
  
  }
}

@media screen and (max-width: 961px) {
  .textOverlay {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
  }
  
  .text {
    font-size: 1rem;
    font-weight: bold;
  }
}

@media screen and (max-width: 768px) {
  .parallaxLayer {
    width:auto;
    height: 150vh;
  }
 
}
@media (max-width: 480px) {
  .parallaxLayer {
width:100vw;
  
  }
  }
  
  
  
  
  
  