
.button_container {
display: flex;
flex-wrap: wrap;
justify-content: center;
 /* margin: 4rem 1rem; */

}

.btn {
  border: none;
  display: block;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  position: relative;
  color: #bcf1b5;
  font-weight: 700;
  font-size: 15px;
  background-color: transparent;
  border: 1px solid #74c472;
  padding: 17px 10px;
  margin: 0 auto;
  box-shadow: 0 5px 15px rgba(0,0,0,0.20);
  border-radius: 2px;
  font-family: 'Courier New', Courier, monospace;
  letter-spacing: 0.1rem;
}

.btn span {
  position: relative; 
  z-index: 1;
}

.btn:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 300%;
  width: 140%;
  background: #74c472;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.btn:hover:after {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

@media (min-width: 500px) {
  .button_container {
  margin: 4rem auto;
  max-width: 500px;
  }
  }
  
  @media (min-width: 800px) {
  .button_container {
  max-width: 800px;
  }
  }
  @media (max-width: 480px) {
    .btn {
      font-size: 12px;
      padding: 12px 8px;
      margin: 1rem;
    }
  }