.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  letter-spacing: 0.3rem;
  color: #4fed16;
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-top: 7rem ;


}

.title-word {
  display: flex;
  align-items: center;
}

.title-letter {
  display: inline-block;
  margin: 0 0.3rem;
  color: rgb(56, 157, 69);
}

.title-letter:hover {
  cursor: pointer;
}
h1{
  text-transform: none;
     font-size: 1.5rem;
   }
@media only screen and (max-width: 480px) {
  .title {
    font-size: 1rem;

  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .title {
    font-size: 2rem;
  
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .title {
    font-size: 1.5rem;
 
  }
}

@media only screen and (min-width: 1025px) {
  .title {
    font-size: 3rem;

  }
}