.icon-container1 {
  display:flex;
justify-content: center;
align-items: center;
  }
  .icon-container1 a:hover {
    background-color: #000;
  }
  
  .icon-image1 {
    padding: 0.3rem;
    transition: all 0.3s ease;
    height: 1.2rem;
    width:1.2rem;
  }

 
    
    