.sentence-container {
  font-size: 24px;
  font-weight: bold;
  color: #3d903d;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: auto; /* Change height to auto for responsiveness */
  font-family: 'Courier New', Courier, monospace;
  margin-inline: 3rem;
}

.sentence-container span {
  margin: 2px 3px;
}

@media screen and (min-width: 961px){
  .sentence-container {
    font-size: 18px;
    margin: 1rem 3rem; /* Reduce margin for smaller screens */
  }

.sentence-container span {
  margin: 3px 3px;
}

}
@media screen and (max-width: 960px) {
  .sentence-container {
    font-size: 18px;
    margin: 1rem 1rem; /* Reduce margin for smaller screens */
  }

.sentence-container span {
  margin: 3px 2px;
}
}
@media (max-width: 768px) {
  .sentence-container {
    font-size: 18px;
    margin: 0rem 1rem; /* Reduce margin for smaller screens */
  }

.sentence-container span {
  margin: 2px 1px;
}

}
